<body>
  <section class="section">
    <div class="container has-text-centered">
      <div class="heading">
        <h1 class="title">MyPs4List</h1>
        <h2 class="subtitle">
          Keep track of  <strong>ALL</strong>  your PS4 Games
        </h2>
      </div>
    </div>
  </section>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns has-text-centered">
          <div class="column">
            First column
          </div>
          <div class="column">
            <figure class="image is-9by16">
              <img  src="assets/smartphone.png" alt="">
            </figure>

          </div>
        </div>
      </div>
    </section>
  </body>
</body>
